
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CargarDatos</title>
</head>
<body>
    <div> 
        <p>Los datos Fueron Guardados corecctamente </p>
        <p>Gracias por sus comentarios </p>
        <a href="#" >Ver Comentarios</a>
    </div>
</body>
</html>
